.header {
  padding: 21px 150px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  user-select: none;
}

.contacts__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px
}

.header__span {
  font-size: 16px;
  line-height: 21px;
  color: #6E7177;
  user-select: none;
}

.contacts__number {
  font-weight: 600;
  font-size: 27px;
  line-height: 35px;
  color: #284795;
  margin-right: 15px;
}

.contacts__link {
  height: 30px;
}

.contacts__icon {
  width: 30px;
  height: 30px;
  user-select: none;
}

.header__contacts {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3px
}